* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #111827;
}

.hero {
  background: linear-gradient(135deg, #111827, #1e3a8a, #2563eb);
  color: white;
  padding-bottom: 70px;
}

nav {
  max-width: 1150px;
  margin: auto;
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 30px;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 45px 20px;
}

.badge {
  background: rgba(255,255,255,0.15);
  padding: 9px 14px;
  border-radius: 999px;
  font-weight: bold;
}

.hero-content h2 {
  font-size: 44px;
  margin: 25px 0 15px;
}

.hero-content p {
  font-size: 20px;
  color: #dbeafe;
}

#searchInput {
  margin-top: 25px;
  width: 100%;
  max-width: 520px;
  padding: 16px;
  border-radius: 14px;
  border: none;
  font-size: 17px;
}

.stats {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.stats div {
  background: white;
  color: #111827;
  padding: 11px 16px;
  border-radius: 12px;
  font-weight: bold;
}

main {
  max-width: 1150px;
  margin: 45px auto;
  padding: 0 20px;
}

.category {
  margin-bottom: 55px;
}

.category h2 {
  font-size: 30px;
  margin-bottom: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 22px;
}

.tool-card {
  background: white;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.tool-card:hover {
  transform: translateY(-4px);
}

.tool-card h3 {
  margin-top: 0;
  font-size: 22px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background: #1d4ed8;
}

.tool-card p {
  margin-bottom: 0;
  font-weight: bold;
  color: #1e40af;
}

footer {
  text-align: center;
  padding: 35px 20px;
  background: #111827;
  color: white;
}

footer p {
  color: #d1d5db;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content h2 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 17px;
  }
}